.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.accordion {
  display: flexbox;
  flex: 1;
  padding: 20px;
}
.boxContent{
  display: flex;
  flex-wrap: wrap;
}
.star{
 padding: 10px;
 background: #F0386B;
 border-radius: 5px;
 margin: 10px;
}
.item {
  background: #6495ED;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  
}

.title {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
  text-align: justify;
  display: flex;
}

.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
  text-align: justify;
  display: flex;
}

.loader{
  display: flex;
  align-self: center;
}

.text-center{
  text-align: center;
}
.searchbar{
  width: 100%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  font-size: 20px;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
  
}
.image{
  width: 100;
  height: 200px;
  border-radius: 50px;
  margin-right: 10px;
}
.headerSearch{
  display: flex;
  border-radius: 10;
}

.App-logo {
  height: 40vmin; 
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
